{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [
    "babel"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_claim_names",
          "_claim_sources",
          "_matchedRouteName"
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always"
      }
    ],
    "babel/camelcase": 1,
    "babel/no-invalid-this": 1,
    "babel/semi": 1,
    "babel/no-unused-expressions": 1,
    "babel/valid-typeof": 1
  }
}